numpy==1.22.0
pandas==1.4.0
matplotlib==3.5.1
python-dateutil==2.8.2
pytz==2022.1
scikit-learn==1.0.2
scipy==1.8.0
statsmodels==0.13.2
xlrd==2.0.1
openpyxl==3.0.9
lxml==4.8.0
html5lib==1.1
beautifulsoup4==4.11.1
jupyter==1.0.0
pmdarima==1.8.5
